@charset "utf-8";
body{
	background-color: #FFF;
	padding: 10px;
}
#content {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCC;
	padding: 10px;
	height: 500px;
	width: 1270px;
	z-index: 1;
	left: auto;
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	margin: 10px;
}
#header {
	position:absolute;
	left:55px;
	top:70px;
	width:1227px;
	height:67px;
	z-index:2;
	font-family: Arial, Helvetica, sans-serif;
	background-color: blue;
        color:white;
        text-align:center;
}
#Login {
	position:absolute;
	left:55px;
	top:166px;
	width:577px;
	height:326px;
	z-index:3;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	
}
#Moviegallery {
	position:absolute;
	left:667px;
	top:165px;
	width:596px;
	height:328px;
	z-index:4;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
}
#Footer {
	position:absolute;
	left:30px;
	top:555px;
	width:1267px;
	height:66px;
	z-index:5;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	background-color: red;
}
#Logo {
	position:absolute;
	left:75px;
	top:83px;
	width:90px;
	height:19px;
	z-index:6;
	background-color: #FFF;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: oblique;
	font-weight: bolder;
	text-transform: capitalize;
	color: #09F;
	text-decoration: blink;
}
