@charset "utf-8";
body{
	background-color: #FFF;
	padding: 10px;
}
#content {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCC;
	padding: 10px;
	height: 500px;
	width: 1270px;
	z-index: 1;
	left: auto;
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	margin: 10px;
}
#Header {
	position:absolute;
	left:55px;
	top:70px;
	width:1227px;
	height:67px;
	z-index:2;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #09F;
}
#Headbg {
	position:absolute;
	left:30px;
	top:555px;
	width:1267px;
	height:66px;
	z-index:5;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	background-color: #09F;
}
#Logo {
	position:absolute;
	left:75px;
	top:83px;
	width:90px;
	height:19px;
	z-index:6;
	background-color: #FFF;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: oblique;
	font-weight: bolder;
	text-transform: capitalize;
	color: #09F;
	text-decoration: blink;
}

#Register {
	position:absolute;
	overflow-y:auto;
	left:320px;
	top:172px;
	width:663px;
	height:339px;
	z-index:7;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
	padding: 10px;
}
